<header class="intro-and-nav" role="banner">
    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/twitter_cards.html" . }}
  <div>
    <div class="intro">
      <a
        class="logo"
        href="{{ .Site.BaseURL }}"
        aria-label="{{ .Site.Title }} home page"
      >
        <img src="{{ "images/logo.svg" | relURL }}" alt="Cup of tea. Original image https://www.flickr.com/photos/10559879@N00/3060371673 resized and converted to SVG. CC BY-SA 2.0">
      </a>
      <p class="library-desc">
        {{ with .Site.Params.description }} {{ . | markdownify }} {{ end }}
      </p>
    </div>
    {{ partial "nav.html" . }}
    {{ if eq .Site.Params.moveFooterToHeader true }}
      {{ partial "footer.html" . }}
    {{ end }}
  </div>
</header>
